@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: rgb(163, 50, 50);
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(0, 42, 255);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(105, 179, 166);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: rgb(77, 60, 126);
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(179, 243, 126);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(255, 0, 0);
}
.brand h1 span {
	color: rgb(184, 184, 184);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	
}
#header .header {
	min-height: 8vh;
	background-color: rgb(0, 0, 0);
	/*ransition: 0.3s ease background-color;*/
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 1 10px;
	
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(0, 217, 255);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
	
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;

}
#header .nav-list ul a::after {
	
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(0, 255, 8);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(255, 10, 10);
}
#header .hamburger {
	height: 50px;
	width: 50px;
	display: inline ;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.7);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: 'click';
	height: 100%;
	width: 100%;
	border-radius: 150%;
	border: 2px solid rgb(255, 1, 1);
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 3px;
	width: 54px;
	position: relative;
	background-color: black;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: black;
	transition: 0.1s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 30px;
}
#header .hamburger .bar::before {
	bottom: 30px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	
	background-image: url("hcube11.jpg");
	background-size: cover;
	background-position: top ;
	position: -webkit-sticky;
	z-index: -1;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.7;
	z-index: -1;
	color: burlywood;
	
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
	
	
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
	
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(250, 0, 0);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
	
	
}
#hero h1{
	animation: color-change 2s infinite;
  }
  
  @keyframes color-change {
	0% { color: red; }
	20% {color: orange;}
	35% {color: yellow;}
	40% {color:green;}
	55% {color:blue;}
	75% { color: navy; }
	100% { color: purple; }
	
}


/* End Hero Section */

/* Services Section */
#Buy .Buy {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#Buy .Buy-top {
	max-width: 500px;
	margin: 0 auto;
}
#Buy .Buy-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#Buy .Buy-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#Buy .Buy-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #307ed8 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#Buy .Buy-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#Buy .Buy-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#Buy .Buy-item p {
	color: white;
	text-align: left;
}
/* End Services Section */

/* Projects section */
#Roadmap .Roadmap {
	flex-direction: column;
	max-width: 12000px;
	margin: 0 auto;
	padding: 100px 0;
	/*background-color: rgb(6, 8, 44);*/
	/*background-color: rgb(16, 25, 54);*/
	/*background-image: linear-gradient(60deg, #f00b0b 0%, #0c21df 100%);*/
	background-color: black;
	background-size: contain;
}

#Roadmap .Roadmap-header h1 {
	margin-bottom: 50px;
}
#Roadmap .all-Roadmap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#Roadmap .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 800%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#Roadmap .project-info {
	padding: 0px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #ff0000 0%, #ff0000 100%);
	color: white;
}
#Roadmap .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#Roadmap .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#Roadmap .project-info p {
	color: white;
}
#Roadmap .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: -moz-hidden-unscrollable;
	position: relative;
}
#Roadmap .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #000000 0%, #9e9ca3 100%);
	opacity: 0.7;
}
#Roadmap .project-img img {
	transition: 0.3s ease transform;
}
#Roadmap .project-item:hover .project-img img {
	transform: scale(2.5);
}
/* End Projects section */

/* About Section */
#Whitepaper .Whitepaper {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#Whitepaper .col-left {
	width: 250px;
	height: 360px;
}
#Whitepaper .col-right {
	width: 100%;
}
#Whitepaper .col-right h2 {
	font-size: 1.7rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#Whitepaper .col-right p {
	margin-bottom: 20px;
}
#Whitepaper .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#Whitepaper .col-left .Whitepaper-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid rgb(206, 0, 0);
}
#Whitepaper .col-left .Whitepaper-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #db1b1b2c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #020202 0%, #5c5c5c 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(255, 255, 255);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#Buy .Buy-bottom .Buy-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#Roadmap .project-item {
		flex-direction: row;
	}
	#Roadmap .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#Roadmap .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#Roadmap .all-Roadmap .project-info {
		height: 100%;
	}
	#Roadmap .all-Roadmap .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#Whitepaper .Whitepaper {
		flex-direction: row;
	}
	#Whitepaper .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#Whitepaper .Whitepaper .col-left .Whitepaper-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#Whitepaper .col-right {
		text-align: left;
		padding: 30px;
	}
	#Whitepaper .col-right h1 {
		text-align: center;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#Buy .Buy-bottom .Buy-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */



#timeline{


	display: flex;
	background-color: #031625;
}

#timeline:hover .t1-item{
	width: 23.3333%;

}

.t1-item{

	transform: translate3d(0,0,0);
	position: relative;
	width: 25%;
	height: 100vh;
	min-height: 600px;
	color: white;
	overflow: hidden;
	transition: width 0.5s ease;

}

.t1-item::before, .t1-item:after{
	transform: translate3d(0,0,0);
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;


}

.t1-item:after{

	background: rgba(0, 0, 0, 0.85);
	opacity: 1;
	transition: opacity 0.5s ease;
}

.t1-item:before{

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
	z-index: 1;
	opacity: 0;
	transform: translate3d(0,0,0) translateY(50%);
	transition: opacity 0.5s ease;
	transform: 0.5s ease;
}

.t1-item:hover{

	width: 30% !important;
}


.t1-item:hover:after{

	opacity: 0;
}
.t1-item:hover:before{

	opacity: 1;
	transform: translate3d(0,0,0) translateY(0);
	transition: opacity 1s ease, transform 1s ease,
	0.25s;
}
.t1-item:hover .t1-content{

	opacity: 1;
	transform: translateY(0);
	transition: all 0.75s ease 0.5s;
}

.t1-item:hover .t1-bg{

	filter:grayscale(0);	

}	

.t1-content{
	transform: translate3d(0,0,0) translateY(25px);
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0.1618em;
	top:55%;
	opacity: 0;




}

.t1-content h1{
	font-family: tahoma;
	font-style: italic;
	text-transform: uppercase;
	color: #a0a0a0;
	font-size: 1.44rem;
	font-weight: normal;





}

.t1-content p{
	color: aliceblue;
}

.t1-year{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	
	




}


.t1-year .f2 heading{
	border-top: 1px solid white;
}

.t1-year p{

	font-family: sans-serif;
	font-style: oblique;
	font-size: 20px;
	line-height: 0;
	color: rgb(255, 104, 104);
	
	
}

.t1-bg{
	transform: translate3d(0,0,0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	filter: grayscale(100%);
}


